.table-management {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.tables-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tables-header h1 {
    margin: 0;
    font-size: 24px;
}

.tables-header button {
    padding: 8px 16px;
    background-color: #e1e8ff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}

.create-table-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.create-table-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.create-table-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Modal styles */
.tables-modal .tables-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    /* Transparent background */
    border: none;
    color: black;
    /* Black X icon */
    font-size: 20px;
    width: 300px;
}


.tables-modal-content {
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.tables-modal-content input {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tables-modal-content button {
    /* margin-top: 15px; */
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    width: 150px;
}

.form-control {
    width: 300px !important;
}

.tables-modal-close {
    position: absolute !important;
    top: 20px !important;
    right: 30px !important;
    background: transparent !important;
    border: none !important;
    color: black !important;
    width: 0 !important;
    padding: 0 !important;
}

.tables-modal-delete {
    margin-top: 10px !important;
    margin-left: 0 !important;
    border: none !important;
    background-color: red !important;
    color: white !important;
    border-radius: 4px !important;
}


.table-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 100px;
    user-select: none;
}

.table-card {
    position: relative;
    width: calc(20% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .table-card {
        width: calc(25% - 20px);
    }
}

@media (max-width: 992px) {
    .table-card {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .table-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .table-card {
        width: calc(100% - 20px);
    }
}

.table-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.1);
}

.table-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.table-card h3 {
    margin: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.table-card p {
    margin: 0 10px 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.table-card .table-details {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
}

.table-card .table-details span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.availability-group {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
