body,
html {
    height: 100%;
    margin: 0;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

form {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    /* Adjust the width according to your logo size */
    margin-bottom: 20px;
    /* Space between the logo and the input fields */
}

.input-field {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f2f2f2;
}

.submit-button {
    width: 90%;
    padding: 15px;
    background-color: #a5a5a5;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: '8px'
}

.submit-button:disabled {
    background-color: #a5a5a5;
    cursor: not-allowed;
}

.submit-button:enabled:hover {
    background-color: #007bff;
}

.back-to-login {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.back-link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 5px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #c0c0c0;
}

.forgot-password {
    margin-top: 15px;
    font-size: 14px;
    text-align: right;
    width: 90%;
}

.forgot-password a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-size: 14px;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #333333;
    text-decoration: underline;
}

.verification-code-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        appearance: textfield;
        -moz-appearance: textfield;
        margin-right: 10px;
    }

}

.verification-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}